<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width" initial-scale=1>
		<title>pmfinder - parks</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link href="/css/main.css" rel="stylesheet">
	</head>
	<body>
		<!--columns container--><div class="sidebar-main-parent">
			<!--column 1--><div id="sidebar" class="sidebar"></div><!--column 1-->
			<!--column 2--><div class="main-window">
				<div class="lfxMessages" id="msg ">
					<% if ( locals.message ) { %>
						<p class="lfxMessages"><%= locals.message %></p>
					<% } else if (messages.error) { %>  
						<p class="lfxMessages"><%= messages.error %></p>
					<% } else if (messages.success) { %>
						<p class="lfxMessages"><%= messages.success %></p>
				 	<% } %>
				</div>
				
				<!--search controls-->
				<form class="row g-3" name="p" action="/parks/search"
				  enctype="application/x-www-form-urlencoded"  method="GET">

					<h1 class="h3 mb-3 fw-normal">Good luck in your search</h1>
					
					<!--name="matchesJSONfiles"-->
					<div class="col-md-6 form-floating">
						<select class="form-control" name="LocationName" id="pt">
							<option selected value=""></option>	
						</select>
						<label for="pt">park types</label>
					</div>
					<div class="col-md-6 form-floating">
						<select class="form-control" name="State" id="pl">
							<option selected value=""></option>
						</select>
						<label for="pl">park locations</label>
					</div>

					<!--name="metaDoNotIncludeInFiltering"-->
					<div class="col-md-5 form-floating">
						<fieldset>
							<div>
								<input type="radio" id="or" name="searchCriteria" value="any" checked>
								<label for="or">Use ANY search filter</label>
							</div>
							<div>
								<input type="radio" id="and" name="searchCriteria" value="all">
								<label for="and">Use ALL search filters</label>
							</div>
						</fieldset>
					</div>
					<div class="col-md-4 form-floating">
						<select class="form-control" name="itemsPerPage" id="ipp">
							<option value="2">2</option>
							<option selected value="4">4</option>
							<option value="8">8</option>
							<option value="16">16</option>	
						</select>
						<label for="ipp">items per page</label>
					</div>
					<div class="col-md-3 form-floating">
						<select class="form-control" name="maxResults" id="mr">
							<option selected value=20>20</option>
							<option value=40>40</option>
							<option value=70>70</option>
							<option value=150>150</option>	
						</select>
						<label for="mr">max results</label>
					</div>

					<div class="col-md-3 form-floating">
						<select class="form-control" name="sortBy" id="sb">
							<option selected value="LocationName">Name</option>
							<option value="City">City</option>
							<option value="State">State</option>	
						</select>
						<label for="sb">results' order</label>
					</div>
					<div class="col-md-3 form-floating">
						<fieldset>
							<div>
								<input type="radio" id="asc" name="resultsOrder" value=1 checked>
								<label for="asc">Ascending</label>
							</div>
							<div>
								<input type="radio" id="desc" name="resultsOrder" value=-1>
								<label for="desc">Descending</label>
							</div>
						</fieldset>
					</div>
					<div class="col-md-4 form-floating">
						<input  class="btn btn-outline-secondary btn-lg px-4" type="submit"
							id="sub" value="Search">
					</div>
					<div class="col-md-2 form-floating" ></div>
					<div class="col-md-2 form-floating" hidden>
						<input class="form-control" name="requestedPageNumber" id="rpn" type="text" >
					</div>
				</form>
				<br>
				<!--display-->
				<% if ( locals.paginationChunks ) { %>
					<% for (var i =1; i <=locals.paginationChunks;  i++ ) { %>
						<!--<input  class="btn btn-outline-secondary btn-sm" type="button" id="page<%=i %>" value="<%=i %>">-->
						<!--<a class="lfxAnchor" data-value="<%=i %>" href=`javascript:resultsNavigate("<%=i-1 %>")`><%=i %></a>-->
						<a class="lfxAnchor" data-value="<%=i %>" href=`resultsNavigate("<%=i-1 %>"); return false;`><%=i %></a>
					<% } %>
				<% } %>
				<div class="album py-5 lfxWhiteDiv">
					<div class="container">
						<div class="row row-cols-1 row-cols-sm-2 g-2">
							<% if ( locals.parks ) { %>
								<% parks.map((park, arrayIndex) => { %>
									<div class="col">
										<div class="card shadow-sm">
											<div class="card-body btn-group">
												<a class="notUnderlined" href="/parks/<%=park._id%>">
													<p class="card-text">
														<h5><%=park.LocationName %></h5>
														<%=park.City %>, <%=park.State %>
													</p>
												</a>
											</div>
										</div>
									</div>
								<% }) %>
							<% } else if ( locals.noResults ) { %>
								<p class="lfxMessages"><%= locals.noResults %></p>  
							 <% } %>
						</div>
					</div>
				</div>
			<!--column 2--></div>
		<!--column container--></div>
		
		<script src="/js/clicks.js" type="text/javascript"></script>
		<script src="/js/data.js" type="text/javascript"></script>
		<script type="text/javascript">
			(function() { loadParkDropdowns() })();
		</script>
		<script src="/js/jquery.3.6.0.min.js" type="text/javascript"></script>
		<script src="/js/load.sidebar.js" type="text/javascript"></script> 
		<script src="/js/bootstrap.bundle.min.js" type="text/javascript"></script>
	</body>
</html>


		

