<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width" initial-scale=1>
		<title>pmfinder - park</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link href="/css/main.css" rel="stylesheet">
	</head>
	<body>
		<!--columns container--><div class="sidebar-main-parent">
			<!--column 1/sidebar--><div id="sidebar" class="sidebar"></div><!--column 1-->
			<!--column 2/main--><div class="main-window">
				<div id="msg ">
					<% if( locals.message ) { %>
						<%= locals.message %>
					<% } %>  
				</div>
				<table class="lfxDetailTable">
					<tr>
						<td class="tblCol01">
							<% if( park.LocationName ) { %><b>Name:</b>  <%=park.LocationName %><br><% } %>
							<% if( park.City ) { %><b>City:</b>  <%=park.City %><br><% } %>
							<% if( park.LocationID ) { %><b>ID:</b>  <%=park.LocationID %><br><% } %>
    						<% if( park.Address || park.City || park.State || park.ZipCode ) { %>
								<% if( park.Address ) { %><b>Address:</b> <%=park.Address %> / <% } %>
								<% if( park.City ) { %> <%=park.City %>, <% } %>
								<% if( park.State ) { %> <%=park.State %>  <% } %>
								<% if( park.ZipCode ) { %><%=park.ZipCode %><% } %>
							<% } %><br>
    						<% if( park.Phone ) { %><b>Phone:</b>  <%=park.Phone %><br><% } %>
    						<% if( park.Fax ) { %><b>Fax:</b>  <%=park.Fax %><br><% } %>
    						<% if( park.Latitude && park.Longitude ) { %><b>Lat/Long:</b>  :  <%=park.Latitude %>, <%=park.Longitude %><br><% } %>
    						<% if( park.Location ) { %><b>Location:</b>  <%=park.Location.coordinates %>, Type<%=park.Location.type %><br><% } %>
    						<% if( park.Visit ) { %><b>Visit:</b>  <a target="_blank" href='<%=park.Visit %>'><%=park.Visit %></a> %><br><% } %>
						</td>
					</tr>
				</table>
			<!--column 2--></div>
		<!--column container--></div>
		
		<script src="/js/jquery.3.6.0.min.js" type="text/javascript"></script>
		<script src="/js/load.sidebar.js" type="text/javascript"></script> 
		<script src="/js/bootstrap.bundle.min.js" type="text/javascript"></script>
	</body>
</html>

    

